:root[class*='app-dark'] {
  --surface-ground: var(--p-surface-950);
  --code-background: var(--p-surface-800);
  --code-color: var(--p-surface-100);
  --text-color: #e0e0e0;
  --heading-color: #8cd1c9;
  --link-color: #8cd1c9;
  --link-hover-color: #b8e4df;
}
